<img src="../../assets/dtcc-logo.png" width="125" height="31">
<h2 class="text-white font-weight-bold mt-3 mb-1">A GUIDE TO</h2>
<h2 class="text-white font-weight-bold mb-1">CLEARANCE &</h2>
<h2 class="text-white font-weight-bold mb-1">SETTLEMENT</h2>
<p class="text-info text-justify" style="width: 300px">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<button routerLink="../dashboard" class="btn btn-warning font-weight-bold rounded-pill shadow" style="background-color: #DFD500;border: #DFD500;">START EXPLORING</button>
